@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    border: 0;
    padding: 0;
    margin: 0;
    background: linear-gradient(214deg, #34088F 14.58%, rgba(0, 0, 0, 0.00) 35.97%), linear-gradient(90deg, #1E1E1E 26.25%, rgba(0, 0, 0, 0.00) 55.37%), url("assets/background.png") no-repeat, lightgray 50% / cover no-repeat !important;
    background-size: cover !important;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #FFF;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


* {
    filter: none !important;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* background: url("assets/background.png"); */
